.dashboard-main-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
}

.dashboard-main-left {
  flex-grow: 1;
  padding: 5px 30px 10px 20px;
}

.dashboard-new-post h2 {
  padding-bottom: 10px;
}

.dashboard-new-post p {
  padding: 5px 0px;
}

.input-post {
  background-color: #dde2f4;
  border: none;
  margin: 15px 0px;
  padding: 10px;
  font-size: 16px;
}

.input-post:focus {
  background-color: #e3e7f5;
}

.dashboard-graph {
  padding: 15px 0px;
}

.dashboard-graph h2 {
  padding-bottom: 10px;
}

.dashboard-main-right {
  width: 400px;
  padding: 5px 20px;
}

.dashboard-calendar h2 {
  padding-bottom: 10px;
}

.dashboard-stats {
  padding-top: 50px;
}
